[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
ipykernel = "*"
peakutils = "*"
matplotlib = "*"
nptdms = "*"
pandas = "*"
plotly = "*"
importlib = "*"

[requires]
python_version = "3.7"
